<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <!-- <img class="/assets/arrivae/Arrivae Select Logo.png" class="img-fluid"> -->
      <div class="">
          <img src="/assets/arrivae/Arrivae Select Logo.png" class="img-fluid">
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="float-right">1st line</div>
      <div class="float-right">2nd Line</div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <!-- <img class="/assets/arrivae/Arrivae Select Logo.png" class="img-fluid"> -->
        <div class="p-5">
            <img src="/assets/arrivae/Design Carnival logo@3x.png" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 primary-text-color">
        <h4>Come experience the factory finished customized interiors at Arrivae</h4>
        <div>
          <span>29</span>
          <span>03</span>
          <span>20</span>
          <span>00</span> 
        </div>
        <div>
            <span>days</span>
            <span>hours</span>
            <span>minutes</span>
            <span>seconds</span> 
        </div>
        <div>
          Until the offer last
        </div>
        <div>
          COME MEET US!
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6" style="background:#fff;">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="/assets/arrivae/Walking-595b40b75ba036ed117d8fdf.png" class="img-fluid">
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
            <h3>Free Walk-In</h3>
            <p>
              Come to our design center in Pune,Mumbai or Bengaluru,before the 5th of July,2019 anytime between <b>9.00 am</b>to <b>8:00 pm</b>
            </p>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-6 col-lg-6"  style="background:#fff;">
          <h3>Find a Design Center</h3>
          <p>
            closest to you
          </p>
      </div>       
    </div>

    <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-7" >
          <div class="row">
            <div class="col-sm-7 col-md-7 col-lg-7">
              <img src="/assets/arrivae/Walking-595b40b75ba036ed117d8fdf.png" class="img-fluid">
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
              <h3>Free Walk-In</h3>
              <p>
                Come to our design center in Pune,Mumbai or Bengaluru,before the 5th of July,2019 anytime between <b>9.00 am</b>to <b>8:00 pm</b>
              </p>
            </div>
          </div>
  
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <h3>Find a Design Center</h3>
            <p>
              closest to you
            </p>
        </div>       
      </div>

      <div class="row" style="background:''">
        <div class="col-sm-10 offset-1" style="text-align:center;">
          <div class="row">
            <div class="col-sm-4">
              <img src="/assets/arrivae/Free Design - for dark background.png" class="img-fluid">
              <h6 class="primary-text-color">Free Design</h6>
            </div>
            <div class="col-sm-4">
                <img src="/assets/arrivae/Free on-site Measurement - for dark background.png" class="img-fluid">
                <h6 class="primary-text-color">Free On-site Measurement</h6>
            </div>
            <div class="col-sm-4">
                <img src="/assets/arrivae/Free 3D Renders - for dark background.png" class="img-fluid">
                <h6 class="primary-text-color">Free 3D Renders</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="background:''">
       <div class="col-sm-12" style="text-align: center;">
         <img src="/assets/arrivae/Arrivae Select Logo.png" class="img-fluid">
         <h6>
           Presenting Arrivae Select,a range of readymade furniture that can be customised to your requirements. 
         </h6>
       </div>
       <div class="col-sm-10 offset-1" style="">
         <div class="row" >
           <div class="col-sm-4">
             <div class="row col-sm-12" style="background:#fff;text-align:center;"> 
                <img src="/assets/arrivae/Arrivae Select Logo.png" class="img-fluid">
             </div>              
           </div>
           <div class="col-sm-4">
              <div class="row col-sm-12" style="background:#fff;text-align:center;">
                <img src="/assets/arrivae/Arrivae Select Logo.png" class="img-fluid">
               </div>     
           </div>
           <div class="col-sm-4">
              <div class="row col-sm-12" style="background:#fff;text-align:center;">
                <img src="/assets/arrivae/Arrivae Select Logo.png" class="img-fluid">
               </div>     
           </div>
         </div>
       </div>
      </div>
</div>
<!-- footer -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 offset-1">
      <div class="row">
        <div class="col-sm-4 primary-text-color">
          <h4>Arrivae. Made by you</h4>
          <p>
            B 501/502,Everest House Surren Road,Gundavali,
            Andheri East,Mumbai,Maharashtra 400093
          </p>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-10 offset-1">
              <div class="row">
                <div class="col">
                  <img src="/assets/arrivae/Group 885.png" class="img-fluid">
                </div>
                <div class="col">
                    <img src="/assets/arrivae/Group 886.png" class="img-fluid">
                </div>
                <div class="col">
                    <img src="/assets/arrivae/Group 887.png" class="img-fluid">
                </div>
                <div class="col">
                    <img src="/assets/arrivae/Group 888.png" class="img-fluid">
                </div>
                <div class="col">
                    <img src="/assets/arrivae/Group 889.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer end -->
